            @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
            * {
                font-family: 'Orbitron', sans-serif;
                cursor: url('pizza.gif');
                animation: fadeIn 3s;
            }
            @keyframes fadeIn {
                from {
                    opacity: 0;
                } to {
                    opacity: 1;
                }
            }
            @keyframes darkToLight {
                from {
                    background-color: black;
                } 
                to {
                    background-color: white;
                }
            }
            @keyframes lightToDark {
                from {
                    background-color: white;
                } 
                to {
                    background-color: black;
                }
            }
            .title {
                text-align: center;
                color: var(--txt-color);
                font-size: 48px;
            }
            :root {
                --button-color: dodgerblue;
                --txt-color: white;
                --bg-color: black;
                --button-txt-color: white;
                --btn-hover-bg-clr: black;
            }
            body.light {
                --button-color: dodgerblue;
                --txt-color: dodgerblue;
                --bg-color: white;
                --btn-hover-bg-clr: white;
                --button-txt-color: black;
                animation: darkToLight 3s;
            }
            body {
                background-color: var(--bg-color);
                color: dodgerblue;
                animation: lightToDark 3s;
                height: 100vh;
                width: 100vw;
                overflow: hidden;
                border: 0;
                margin: none;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
            }
            .buttonSpace button {
                background-color: var(--button-color);
                color: var(--button-txt-color);
                border: 5px solid dodgerblue;
                border-radius: 8px;
                font-size: 7vh;
                text-align: center;
                justify-content: center;
                margin: 1%;
                width: 48%;
                height: 15vh;
                transition: transform 0.3s ease-in-out, border-radius 0.8s ease-in-out; 
            }
            .buttonSpace button:hover {
                background-color: var(--btn-hover-bg-clr);
                border-radius: 100px;
                color: dodgerblue;
                transform: scale(1.025);
                transition: transform 0.3s ease-in-out, border-radius 0.8s ease-in-out;
            }
            #launchInAboutBlankBtn, #toggle {
                background-color: var(--button-color);
                color: var(--button-txt-color);
                border: 2px solid dodgerblue;
                border-radius: 8px;
                text-align: center;
                font-size: 12px;
                justify-content: center;
                margin: 1vh;
                width: 10vw;
                height: 5vh;
                transition: transform 0.3s ease-in-out, border-radius 0.5s ease-in-out; 
            }
            .modalToolbar button {
                background-color: var(--button-color);
                color: var(--button-txt-color);
                border: 0;
                text-align: center;
                font-size: 12px;
                justify-content: center;
                margin: none;
                width: 100%;
                height: 100%;
                transition: transform 0.3s ease-in-out, border-radius 0.5s ease-in-out;
            }
            .modalToolbar {
                display: none;
                background-color: gray;
                justify-content: space-evenly;
                align-items:center;
                height: 5%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                /*transform: translate(-2.5%, -50%)*/
            }
            #launchInAboutBlankBtn:hover, #toggle:hover {
                background-color: var(--btn-hover-bg-clr);
                border-radius: 30px;
                color: dodgerblue;
                transform: scale(1.025);
                transition: transform 0.3s ease-in-out, border-radius 0.5s ease-in-out;
            }
            .modal {
                display: none; /* Hidden by default */
                position: fixed;
                top: 50%;
                left: 50%;
                height: 100%;
                width: 100%;
                transform: translate(-50%, -47.5%);
                background-color: var(--bg-color);
                padding: 0;
                border: none;
                border-radius: 0;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                z-index: 999;
                overflow: Hidden;
            }
            .modalToolbar {
                display: none;
                position: fixed;
                top: 2.5%;
                left: 50%;
                height: 5%;
                width: 100%;
                transform: translate(-50%, -50%);
                z-index: 1002;
                overflow: Hidden;
                background-color: var(--bg-color);
                padding: 0;
                border: none;
                border-radius: 0;
                justify-content: space-evenly;
                align-items: center;
            }
            .modal-overlay {
                display: none; /* Hidden by default */
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 998;
            }
            #closeBtn {
                z-index: 1001;
                border: none;
                background-color: rgba(0, 0, 0, 0.1);
                border-radius: 8px;
                transition: all 0.2s ease-in;
            }
            #closeBtn:hover {
                background-color: rgba(0,0,0,0.3);
                transform: scale(1.05);
            }
            #iframe {
                height: 95%;
                width: 100%;
                margin: none;
                border: none;
                border-radius: 8px;
                overflow: hidden;
                z-index: 1000;
            }
            h2 {
                font-size: 24px;
                color: var(--txt-color)
            }
            a {
                position: relative;
                color: deepskyblue;
                text-decoration: none;
                font-size: 12px;
            }
            a::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                width: 100%;
                background-color: deepskyblue;
                transform: scaleX(0);
                transform-origin: center;
                transition: transform .25s linear;
            }
            a:hover::after {
                transform: scaleX(1);
            }
            .footer {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                padding: 10px;
            }
